// margin top
.u-mt-lg {
    margin-top: 6rem !important;
}

.u-mt-md {
    margin-top: 4rem !important;
}

.u-mt-sm {
    margin-top: 2rem !important;
}

// margin bottom
.u-mb-lg {
    margin-bottom: 6rem !important;
}

.u-mb-md {
    margin-bottom: 4rem !important;
}

.u-mb-sm {
    margin-bottom: 2rem !important;
}